.logo {
  background-image: url('../Logo.png');
  background-repeat: no-repeat;
  background-position: center center;

  display: block;
  background-size: 100%;
  width: 85%;
  height: 75%;
}

.header {
  background-color: rgba(17, 24, 39, 1);
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 3px 5px 2px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
}

.main {
  padding-bottom: 60px;
}

.content {
  /* min-height: 100%; */

  flex: 1 0 auto;
  background-color: rgba(17, 24, 39, 1);
}

.footer {
  flex: 0 0 auto;
  background-color: rgba(17, 24, 39, 1);
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px 25px;
}

@media screen and (min-width: 768px) {
  .logo {
    background-size: 100%;
    width: 60%;
    height: 90%;
  }
  .header {
    height: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    padding-bottom: 10px;
  }

  .logo {
    background-size: 100%;
    width: 25%;
    height: 90%;
  }
  .header {
    background-color: rgba(17, 24, 39, 1);
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0 3px 5px 2px #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
  }
}
