.reviewsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  color: rgb(209, 209, 209);
}

.reviewItem {
  width: 80%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
