.searchInput {
  font-size: 16px;
  outline: none;
  height: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.233);
  color: #fff;
  width: 95%;
  background-image: url('./search.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 25px;
  margin: 0;
  margin-bottom: 10px;
  display: block;
  padding: 5px 10px;
}

.searchButton {
  display: inline-block;
  height: 26px;
  background-color: rgb(228, 61, 49);
  color: #fff;
  border: none;
  cursor: pointer;
}
