.searchInput {
  font-size: 16px;
  outline: none;
  height: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.233);
  color: #fff;
  width: 95%;
  background-image: url('./search.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 25px;
  margin: 0;
  margin-bottom: 10px;
  display: block;
  padding: 5px 10px;
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .searchInput {
    width: 80%;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .searchInput {
    width: 35%;
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
