.navigation {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}
.navigationLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.navigationLink:hover {
  text-decoration: underline;
}

.activeNavigationLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: rgb(228, 61, 49);
}

/* .activeNavigationLink:hover {
  text-decoration: underline;
} */

@media screen and (min-width: 1280px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    width: 30%;
  }

  .navigationLink {
    flex-direction: row;
    gap: 5px;
    color: #fff;
    font-size: 24px;
  }

  .activeNavigationLink {
    gap: 5px;
    flex-direction: row;
    font-size: 24px;
  }
}
