.trendingTitle {
  text-align: center;
  /* color: rgb(80, 78, 95); */
  color: #39445a;
}

.trendingMovies {
  padding: 10px 30px;
}

@media screen and (min-width: 1280px) {
  .trendingMovies {
    padding: 20px 30px;
  }

  .trendingTitle {
    font-size: 50px;
    margin-bottom: 10px;
  }
}
